arabic_pronounce
arabic_pronunciation
codernitydb3 
g2p-en 
inflect 
librosa 
matplotlib
mishkal 
numba 
numpy==1.23
pypinyin
PyYAML
scikit-learn
scipy 
soundfile==0.10.3.post1
tensorboard 
tgt
torch
tqdm
unidecode
